<%- include('./includes/headers.ejs') %>
  <div class="dashboard-main-body">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Dashboard</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
        Dashboard
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">Advision</li>
    <% if (successmessage.length> 0) { %>
      <div class="alert alert-success text-center mb-4" role="alert">
        <%= successmessage[0]%>.
      </div>
      <% } %>
        <% if (errormessage.length> 0) { %>
          <div class="alert alert-danger text-center mb-4" role="alert">
            <%= errormessage[0]%>.
          </div>
          <% } %>
<% if (dashboard.package == 'Basic') { %>
      <div class="alert alert-success text-center mb-4" role="alert">
        Get Advanced package and get 5000KES cashback and guaranteed 15000KES Monthly salary..
      </div>
      <% } %>
<% if (dashboard.package == 'Platinum') { %>
      <div class="alert alert-success text-center mb-4" role="alert">
        Get Executive Plan package and get 10000KES cashback and guaranteed 35000KES Monthly salary..
      </div>
      <% } %>
<% if (dashboard.package == 'None') { %>
      <div class="alert alert-success text-center mb-4" role="alert">
  	Get yourself a package to start working and earning with us today.
      </div>
      <% } %>
  </ul>
</div>

    <div class="row row-cols-xxxl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-4">
      <div class="col">
        <div class="card shadow-none border bg-gradient-start-1 h-100">
          <div class="card-body p-20">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
              <div>
                <p class="fw-medium text-primary-light mb-1">WhatsApp Active Earnings</p>
                <h6 class="mb-0"><%=whatsappdash.activeBalance%></h6>
              </div>
              <div class="w-50-px h-50-px bg-cyan rounded-circle d-flex justify-content-center align-items-center">
                <iconify-icon icon="gridicons:multiple-users" class="text-white text-2xl mb-0"></iconify-icon>
              </div>
            </div>
            <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
              <span class="d-inline-flex align-items-center gap-1 text-success-main"><iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon></span> 
              Amount is in KES
            </p>
          </div>
        </div><!-- card end -->
      </div>
      <div class="col">
        <div class="card shadow-none border bg-gradient-start-2 h-100">
          <div class="card-body p-20">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
              <div>
                <p class="fw-medium text-primary-light mb-1">Total Whatsapp Wihdrawals</p>
                <h6 class="mb-0"><%=whatsappdash.withdrawn%></h6>
              </div>
              <div class="w-50-px h-50-px bg-purple rounded-circle d-flex justify-content-center align-items-center">
                <iconify-icon icon="fa-solid:award" class="text-white text-2xl mb-0"></iconify-icon>
              </div>
            </div>
            <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
              <span class="d-inline-flex align-items-center gap-1 text-danger-main"><iconify-icon icon="bxs:down-arrow" class="text-xs"></iconify-icon></span> 
              Amount is in KES
            </p>
          </div>
        </div><!-- card end -->
      </div>
      <div class="col">
        <div class="card shadow-none border bg-gradient-start-3 h-100">
          <div class="card-body p-20">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
              <div>
                <p class="fw-medium text-primary-light mb-1">Total Earnings</p>
                <h6 class="mb-0"><%= dashboard.appEarnings %></h6>
              </div>
              <div class="w-50-px h-50-px bg-info rounded-circle d-flex justify-content-center align-items-center">
                <iconify-icon icon="fluent:people-20-filled" class="text-white text-2xl mb-0"></iconify-icon>
              </div>
            </div>
            <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
              <span class="d-inline-flex align-items-center gap-1 text-success-main"><iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon></span> 
              Amount is in KES
            </p>
          </div>
        </div><!-- card end -->
      </div>
      <div class="col">
        <div class="card shadow-none border bg-gradient-start-4 h-100">
          <div class="card-body p-20">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
              <div>
                <p class="fw-medium text-primary-light mb-1">Deposit Balance</p>
                <h6 class="mb-0"><%= dashboard.depositeBalance %></h6>
              </div>
              <div class="w-50-px h-50-px bg-success-main rounded-circle d-flex justify-content-center align-items-center">
                <iconify-icon icon="solar:wallet-bold" class="text-white text-2xl mb-0"></iconify-icon>
              </div>
            </div>
          </div>
        </div><!-- card end -->
      </div>
      <div class="col">
        <div class="card shadow-none border bg-gradient-start-5 h-100">
          <div class="card-body p-20">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
              <div>
                <p class="fw-medium text-primary-light mb-1">Earning Balance</p>
                <h6 class="mb-0"><%= dashboard.earningBalance%></h6>
              </div>
              <div class="w-50-px h-50-px bg-cyan rounded-circle d-flex justify-content-center align-items-center">
                <iconify-icon icon="solar:download-twice-square-bold" class="text-white text-2xl mb-0"></iconify-icon>
              </div>
            </div>
          </div>
        </div><!-- card end -->
      </div>
      <div class="col">
        <div class="card shadow-none border bg-gradient-start-6 h-100">
          <div class="card-body p-20">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
              <div>
                <p class="fw-medium text-primary-light mb-1">Withdrawn</p>
                <h6 class="mb-0"><%= dashboard.withdrawals %></h6>
              </div>
              <div class="w-50-px h-50-px bg-red rounded-circle d-flex justify-content-center align-items-center">
                <iconify-icon icon="fa6-solid:file-invoice-dollar" class="text-white text-2xl mb-0"></iconify-icon>
              </div>
            </div>
          </div>
        </div><!-- card end -->
      </div>
      <div class="col">
        <div class="card shadow-none border bg-gradient-start-7 h-100">
          <div class="card-body p-20">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
              <div>
                <p class="fw-medium text-primary-light mb-1">Package Type:</p>
                <h6 class="mb-0"><%= dashboard.package %></h6>
              </div>
              
            </div>
          </div>
        </div><!-- card end -->
      </div>
    </div>

    <div class="row gy-4 mt-1">
      <div class="col-xxl-12 col-xl-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <h6 class="text-lg mb-0">Statistics</h6>
              <select class="form-select bg-base form-select-sm w-auto">
                <option>Yearly</option>
                
              </select>
            </div>
            <div class="d-flex flex-wrap align-items-center gap-2 mt-8">
              <h6 class="mb-0"><%= dashboard.appEarnings %></h6>
              <span class="text-sm fw-semibold rounded-pill bg-success-focus text-success-main border br-success px-8 py-4 line-height-1 d-flex align-items-center gap-1">
                10% <iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>
              </span>
              <span class="text-xs fw-medium">+ KES 15000 Per Day</span>
            </div>
            <div id="chart" class="pt-28 apexcharts-tooltip-style-1"></div>
          </div>
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12">
        <div class="card h-100">
            <div class="card-body p-24">

              <div class="d-flex flex-wrap align-items-center gap-1 justify-content-between mb-16">
                <ul class="nav border-gradient-tab nav-pills mb-0" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link d-flex align-items-center active" id="pills-to-do-list-tab" data-bs-toggle="pill" data-bs-target="#pills-to-do-list" type="button" role="tab" aria-controls="pills-to-do-list" aria-selected="true">
                      Latest Transactions 
                      <span class="text-sm fw-semibold py-6 px-12 bg-neutral-500 rounded-pill text-white line-height-1 ms-12 notification-alert"><%=transactions.length%></span>
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link d-flex align-items-center" id="pills-recent-leads-tab" data-bs-toggle="pill" data-bs-target="#pills-recent-leads" type="button" role="tab" aria-controls="pills-recent-leads" aria-selected="false" tabindex="-1">
                      Latest Verified Affiliates 
                      <span class="text-sm fw-semibold py-6 px-12 bg-neutral-500 rounded-pill text-white line-height-1 ms-12 notification-alert"><%= downlines.length %></span>
                    </button>
                  </li>
                </ul>
                <a href="javascript:void(0)" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                  View All
                  <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                </a>
              </div>

              <div class="tab-content" id="pills-tabContent">   
                <div class="tab-pane fade show active" id="pills-to-do-list" role="tabpanel" aria-labelledby="pills-to-do-list-tab" tabindex="0">
                  <div class="table-responsive scroll-sm">
                    <table class="table bordered-table sm-table mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Order ID</th>
                          <th scope="col">Billing Name</th>
                          <th scope="col">Date</th>
                          <th scope="col">Total</th>
                          <th scope="col"class="text-center">Payment Status</th>
                          <th scope="col">Payment Method</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Transaction Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (transactions.length> 0) { %>
                          <% transactions.forEach(transaction=> { %>
                            <tr>
                              <td><a href="javascript: void(0);" class="text-body fw-bold">
                                  <%= transaction.orderId %>
                                </a></td>
                              <td>
                                <%= transaction.billingName %>
                              </td>
                              <td>
                                <%= transaction.date %>
                              </td>
                              <td>
                                <%= transaction.total %>
                              </td>
                              <td>
                                <span
                                  class="badge badge-pill badge-soft-<%= transaction.status === 'Paid' ? 'success' : transaction.status === 'Chargeback' ? 'danger' : 'warning' %> font-size-11">
                                  <%= transaction.status %>
                                </span>
                              </td>
                              <td>
                                <%= transaction.paymentMethod %>
                              </td>
                              <td>
                                <%= transaction.Phone %>
                              </td>
                              <td>
                                <%= transaction.Transactiontype %>
                              </td>
                            </tr>
                            <% }); %>
                              <% } else { %>
                                <tr>
                                  <td colspan="8" class="text-center">No transactions done yet.</td>
                                </tr>
                                <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-recent-leads" role="tabpanel" aria-labelledby="pills-recent-leads-tab" tabindex="0">
                  <div class="table-responsive scroll-sm">
                    <table class="table bordered-table sm-table mb-0">
                      <thead>
                        <tr>
                          <th scope="col">User Name </th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone</th>
                          <th scope="col" class="text-center">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (downlines.length> 0) { %>
                          <% transactions.forEach(transaction=> { %>
                            <tr>
                              <td>
                                <div class="form-check font-size-16">
                                  <input class="form-check-input" type="checkbox">
                                  <label class="form-check-label"></label>
                                </div>
                              </td>
                              <td><a href="javascript: void(0);" class="text-body fw-bold">
                                  <%= transaction.orderId %>
                                </a></td>
                              <td>
                                <%= transaction.billingName %>
                              </td>
                              <td>
                                <%= transaction.date %>
                              </td>
                              <td>
                                <%= downlines.fullname %>
                              </td>
                              
                              <td>
                                <%= downlines.email %>
                              </td>
                              <td>
                                <%= downlines.Phone %>
                              </td>
                              <td>
                                 Verified
                              </td>
                            </tr>
                            <% }); %>
                              <% } else { %>
                                <tr>
                                  <td colspan="8" class="text-center">No downlines yet.</td>
                                </tr>
                                <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="d-footer">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <p class="mb-0">© 2024 Advision. All Rights Reserved.</p>
    </div>
    <div class="col-auto">
      <p class="mb-0">Made by <span class="text-primary-600">AdKe</span></p>
    </div>
  </div>
</footer>
</main>
<%- include('./includes/footer.ejs') %>
